{% extends 'home.html' %}

{% block content %}
    <h1>{% block title %} request Money {% endblock %}</h1>
    <form method="post">
        <label for="req_mail">request from</label>
        <br>
        <input type="email" name="req_mail"
               placeholder="enter Reciever's mail" required></input><br>
        <label for="title">money amount</label>
        <br>
        <input type="text" name="money"
               placeholder="enter amount" required></input><br>
        <label for="currency">Currency</label>
        <br>
        <input type="text" name="currency"
               placeholder="Currency" required></input>
        <br>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <div>
       <button onclick="location.href='http://127.0.0.1:5000/'" type="button">
           Go to home</button>
   </div>
   <br>
    
{% endblock %}